
<div id="main_content">
  <div class="container">
    <div class="row">

      <div class="col-sm-2"></div>
      <div class="col-sm-8">

        <div class="row">
            <div class="main_title_block">
              <div class="title">
                New Post
              </div>
              <div class="subtitle">
                Create a new post by entering your post's name, description, and optional image.
              </div>
            </div>
        </div>

        <%= render 'form' %>

      </div>
      <div class="col-sm-2"></div>


    </div>
  </div>
</div>
