
<div id="main_content">
  <div class="container">
    <div class="row">

  <div class="col-sm-2"></div>
  <div class="col-sm-8">

    <div class="main_title_block">
      <div class="title">
        New Post
      </div>
      <div class="subtitle">
        PostIt is an app blah blah
      </div>
    </div>

    <%= render 'form' %>

  </div>
  <div class="col-sm-2"></div>


</div>
</div>
</div>
