$background_grey: #E2E2E2;
$light_grey: #D2D2D2;
$medium_grey: #C2C2C2;
$dark_grey: grey;
$darker_grey: #2C2C2C;
$body_color: #565656;
$highlight_green: rgb(95, 181, 95);
$error_red: rgb(207, 66, 66);
$blank_responsive: rgb(61, 61, 181);

$home_red: #c02222;
$home_green: rgb(95, 181, 95);
$home_green_2: #2D956E;
$home_blue: #2d2d95;
$home_purple: rgb(98, 98, 199);

$facebook_blue: #3B5998;
$twitter_blue: #4099FF;
$youtube_red: #e52d27;

$admin_green: #648E64;

