<footer class="site-footer main_footer cs-main_footer" id="site_footer">
  <!--<div class="col-lg-12">-->



  <div class="footer_bottom_row">
    <div class="footer_copyright">
      <a href="https://branchfitness.com" target="_blank">
        www.BranchFitness.com
      </a>
    </div>

  </div>

</footer>